<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
</head>

<body>
   <form method="GET">
      <label for="location">Location</label>
      <input type="text" name="location">
      <input type="submit" value="filter">
   </form>
   <br>
   <% talent.each do |model| %>
      <%= model.name %>
      <br>
   <% end %>
</body>
</html>
